.root {
  position: relative;
  width: 24px;
  height: 24px;
  align-items: flex-start;
}
.rectangle415 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.polygon1 {
  position: absolute;
  left: 29.1667%;
  right: 27.5321%;
  top: 37.5%;
  bottom: 37.5%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
